.main{
    margin-top: -4%;
    width: 100vw;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
    justify-content: center;
    background-color: white;
    background-image: url('/formBG.png');
    background-position: left;
    background-repeat: no-repeat;
    min-height: 600px;
}

.mainContainer{
    max-width: 1400px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mainContainer h4{
    font-size: 40pt;
    line-height: 90%;
    font-weight: 200;
    text-align: center;
    color: var(--textBlackColor);
}

.mainContainer form{
    width: 100%;
    max-width: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formDiv{
    width: 100%;
    max-width: 630px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.mainContainer form input{
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    font-family: var(--Inter);
    border-radius: 12px;
    border: none;
    font-size: 20px;
    padding: 15px;
}

.formDiv{
    display: flex;
    justify-content: space-between;
}

.formDiv input:nth-child(1){
    width: 45%;
}

.formDiv input:nth-child(2){
    width: 45%;
}

.inputemail{
    width: 100%;
    max-width: 630px;
    margin-bottom: 30px;
}


@media screen and (min-width: 550px) and (max-width: 850px) {
    .mainContainer h4{
        font-size: 3rem;
        line-height: 90%;
        width: 95%;
        font-weight: 200;
        text-align: center;
        color: var(--textBlackColor);
    }
    
    .main{
        margin-top: -4%;
        width: 100vw;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
        justify-content: center;
        background-color: white;
        background-image: url('/formBG.png');
        background-position: left;
        background-position-x: -40vw;
        background-repeat: no-repeat;
        min-height: 600px;
    }
    
    .mainContainer{
        max-width: 1400px;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


@media screen and (min-width: 0px) and (max-width: 550px) {
    .mainContainer h4{
        font-size: 1.9rem;
        line-height: 90%;
        width: 95%;
        font-weight: 200;
        text-align: center;
        color: var(--textBlackColor);
    }
    
    .main{
        margin-top: -30px;
        width: 100vw;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
        justify-content: center;
        background-color: white;
        background-image: url('/formBG.png');
        background-position: left;
        background-position-x: -40vw;
        background-repeat: no-repeat;
        min-height: 600px;
    }
    
    .mainContainer{
        max-width: 1400px;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media screen and (min-width: 0px) and (max-width: 1024px) {

    .main{
        margin-top: -40px;
        width: 100vw;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 100%);
        justify-content: center;
        background-color: white;
        background-image: unset;
        background-position: left;
        background-repeat: no-repeat;
        min-height: 500px;
        padding-bottom: 60px;
        padding-top: 40px;
    }

    .mainContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainContainer h4{
        font-size: 20pt;
        transform: scale(1.1);
        line-height: 90%;
        font-weight: 400;
        text-align: center;
        color: var(--textBlackColor);
    }

    .formDiv{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .formDiv input:nth-child(1){
        width: 100%;
        margin-bottom: 30px;
    }
    
    .formDiv input:nth-child(2){
        width: 100%;
    }
}

.mainButton{
    min-width: 40px;
    height: 60px;
    width: auto;
    outline: none;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    background-color: #3c4317!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.DetailMain{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    background-color: #90aa04;
}

.texthere{
    display: flex;
    padding: 10px 20px;
    height: 100%;
    align-items: center;
    transition: all 500ms ease-in-out;
    background-color: var(--mainBoldColor);
    justify-content: center;
}

.texthere p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.DetailMain:hover{
    background-color: #3c4317!important;
}

.texthere:hover{
    background-color: #90aa04!important;
}



