.main{
    min-width: 40px;
    height: 60px;
    width: auto;
    outline: none;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.DetailMain{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    background-color: var(--mainColor);
}

.texthere{
    display: flex;
    padding: 10px 20px;
    height: 100%;
    align-items: center;
    transition: all 500ms ease-in-out;
    background-color: var(--mainBoldColor);
    justify-content: center;
}

.texthere p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.main:hover .DetailMain{
    background-color: var(--mainBoldColor);
}

.main:hover .texthere{
    background-color: var(--mainColor);
}



