.main{
    width: 100%;
    height: 160px;
    display: flex;
    z-index: 99998;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(61,61,61);
    background-color: linear-gradient(90deg, rgba(61,61,61,1) 7%, rgba(47,46,46,1) 26%, rgba(34,34,34,1) 58%, rgba(61,61,61,1) 78%);
    background-image: url('/mainbg.png');
    background-position-y: -40px;
    background-position-x: -60px;
    background-size: 120%;
    background-repeat: no-repeat;
}

.containerNav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
}

.containerNav ul{
    display: flex;
    list-style: none;
}

.containerNav ul li{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.containerNav ul li p{
    color: white;
    font-size: 20px;
}

.containerNav ul li p:hover{
    opacity: 0.8;
    color: white;
    font-size: 20px;
}

.containerNav ul li strong{
    font-weight: bold;
}




.mainButton{
    padding: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.466);
}

.mainButton p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainButton p img{
    margin-right: 10px;
}

.mainButton:hover{
    background-color: rgba(24, 15, 148, 0.466);
}

.hambmenu{
    display: none;
    width: 45px;
    height: 45px;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    
}

.hambmenuContainer{
    width: 100%;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all 500ms ease-in-out;
}

.hambmenuContainer span{
    width: 100%;
    transform: rotate(0deg);
    height: 4px;
    transition: all 500ms ease-in-out;
    border-radius: 30px;
    background-color: white;
}

.menuExistis{
    position: relative;
    transition: all 500ms ease-in-out;
}

.menuExistis span{
    position: absolute!important;
}

.menuExistis span:nth-child(1){
    transform: rotate(45deg);
}
.menuExistis span:nth-child(2){
    transform: rotate(45deg);
    width: 100%!important;
    margin-right: -500px;
}

.menuExistis span:nth-child(3){
    transform: rotate(-45deg);
}



.hambmenuContainer span:nth-child(2){
    width: 70%;
}


.hambmenuContainer:hover span{
    opacity: 0.8;
}

.hambmenuContainer:hover span:nth-child(2){
    width: 100%;
}

.mainListNavBar{
    padding: 20px 0;
    width: 90%;
    text-decoration: none;
    list-style: none;
    transition: all 500ms ease-in-out;
    color: white;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mainListNavBar p{
    font-size: 2rem;
    font-weight:300;
    text-align: center;
    transition: all 500ms ease-in-out;
}

.mainListNavBar p:hover{
    color: var(--suportColor);
}

.mainListNavBar li{
    margin-top: 30px;
    font-weight: bold;
}


.mainListNavBar li p{
    font-weight: bold;
}


.LanguageDivModal{
    display: inline;
}

.LanguageDivModal img{
    transition: all 500ms ease-in-out;
    margin-left: 15px;
}

.LanguageDivModal img:hover{
    opacity: 0.6;
}



.mainMenuHere{
    z-index: 99997;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    background-color: white;
}

.ModalHere{
    width: 90%;
    display: flex;
    overflow-y: scroll;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
    justify-content: flex-start;
}

.ModalHere ul{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ModalHere ul li{
    margin-top: 30px;
    font-size: 35px;
    transition: all 500ms ease-in-out;

}

.ModalHere ul li:hover{
    opacity: 0.8;
    color: gray;
}

.ModalHere ul li:nth-child(1){
    text-decoration: underline red;
}


.ModalHere button{
    padding: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
    background-color: var(--mainColor);
}

.ModalHere button p{
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.ModalHere button:hover{
    opacity: 0.8;
    background-color: var(--mainColor);
}



@media screen and (min-width: 0px) and (max-width:1100px){
    .containerNav ul{
        display: none;
        list-style: none;
    }

    .hambmenu{
        display: flex;
    }
}

.whatsappButton {
    position: fixed;
    height: 60px;
    border-radius: 100%;
    width: 60px;
    bottom: 0px;
    z-index: 9999;
    right: 0px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 30px;
    padding: 10px;
    background-color: #4dc77b;
    font-weight: bolder;
    font-size: 16pt;
    transition: all 500ms ease-in-out;
}

.whatsappButton img{
    width: 100%;
    height: 100%;

}

.whatsappButton:hover{
    opacity: 0.8;
}